# install package requirements from setup.py
-e .
bumpversion
wheel
tox
twine

# Tests
pytest
pytest-django
pytest-pythonpath
pytest-cov
mock

# QA
flake8
mypy
django-stubs

pylint
pylint-pytest
pylint-common
pylint-django


# Docs

Sphinx
sphinx_rtd_theme
recommonmark
m2r2
sphinx-autodoc-typehints
sphinx-paramlinks

# hooks
pre-commit
